* {
    font-family: "Microsoft YaHei UI";
}

table {
    background-color: #d4e3e5;
}

table tr td {
    border: 1px black solid;
    text-align: left;
    padding: 5px;
}

.note {
    resize: none;
    font-size: 18px;
    width: 300px;
    height: 100px;
}

.fixed-color {
    background: aqua;
}

.wrap {
    word-wrap: break-word;
}

a {
    display: inline-block;
    height: 20px;
    font-size: 14px;

    margin-right: 5px;
    line-height: 20px;
    text-decoration: none;
    color: blue;
}