* {
    font-family: "Microsoft YaHei UI", "serif";
}

body {
    padding: 20px 30px;
}

table {
    background-color: #d4e3e5;
}

table tr td {
    border: 1px black solid;
    text-align: left;
    padding: 5px;
}

.note {
    resize: none;
}

.fixed-color {
    background: aqua;
}

.wrap {
    word-wrap: break-word;
}

a {
    display: inline-block;
    height: 20px;
    font-size: 14px;

    margin-right: 5px;
    line-height: 20px;
    text-decoration: none;
    color: blue;
}

.layui-input {
    height: 22px;
    line-height: 22px;
}

.layui-form-label {
    padding: 1px 15px;
}

.form-table tr td:nth-child(1) {
    text-align: right;
}

.layui-form-item .layui-form-checkbox{
    margin-top: 0;
}